@charset "utf-8";
/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* Force scrollbar */
html { overflow-y: scroll; }

/* Align radios and text inputs with their label */

input[type='radio'] { vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button {
  cursor: pointer;
}

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em { font-style: italic; }

img {
  width: 100%;
  height: 100%;
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup { top: -.7em; }
sub { bottom: -.25em; }

/* 1.2. Clear Fix
   ========================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after { clear: both; }
.cf { *zoom: 1; }

/*for all*/
body {
  box-sizing: border-box;
  font-family: sans-serif;
}

a { 
  display: inline-block;
  text-decoration: none; 
  transition: all ease-in-out 0.5s;
  -webkit-transition: all ease-in-out 0.5s;
  -ms-transition: all ease-in-out 0.5s;
  -o-transition: all ease-in-out 0.5s;
  -moz-transition: all ease-in-out 0.5s;
}

a:hover {
  color: #ffa500;
}

li {
  display: inline-block;
  list-style-type: none;
}

/*for wrapper*/
.wrapper {
  max-width: 1519px;
  width: 92.2%; 
  margin: 0 auto;
}

/* for section header  */

.section-header {
  font-size: 43px;
  text-align: center;
}

.section-subtext {
  margin-top: 13px;
  font-size: 24px;
  text-align: center;
}
/*=================================
  Header styling starts here
=================================*/

header .wrapper {
  padding: 37px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hamburger,
.cross {
  display: none;
  text-indent: -9999px; 
}

.hamburger::before,
.cross::before {
  content: "\f0c9";
  float: right;
  color: #000;
  font-family: "fontAwesome";
  text-indent: 0;
}

.cross::before {
  content: "\f00d";
}

.menus {
  margin: 0 2.7% 0 auto;
  flex-basis: 33.5%;
}

.menus ul {
  display: flex;
  justify-content: space-between;
}

.menus ul li a {
  padding: 16px 0;
  color: #000;
  font-size: 21px;
}


.menus ul li a:hover,.portfolio {
  padding: 16px 21px;  
  background-color: #1BBC9B;
}

/*=================================
  Header styling ends here
=================================*/  

/*=================================
  main styling starts here
=================================*/

/* portfolio styling starts  */

.portfolio .wrapper {
  width: 87.3%;
  padding: 73px 0;
  position: relative;
}

.portfolio-buttons {
  margin-top: 52px;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 22px;
  white-space: nowrap;
}

.portfolio-buttons button {
  padding: 15px 15px;
  border: 2px solid #1ABB99;
  background-color: #1ABB99;
  color: #fff;
  font-size: 19px;
  letter-spacing: 1px;
  transition: all ease-in-out 0.5s;
  -webkit-transition: all ease-in-out 0.5s;
  -ms-transition: all ease-in-out 0.5s;
  -o-transition: all ease-in-out 0.5s;
  -moz-transition: all ease-in-out 0.5s;
}

.portfolio-buttons button:hover {
  background-color: #16A086;
}

.portfolio-icons,.tab-icons {
  margin-top: 67px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 52px;
}


.portfolio-icons figure,.tab-icons figure {
  width: 123px;
  height: 131px;
  padding: 54px;
  margin-right: 1%;
  border-radius: 100%;
  flex-basis: 11%;
  background-color: #01A89E;
}

.tab-icons {
  width: 100%;
  height: 60%;
  position: absolute;
  z-index: 1;
  top: 28%;
  left: -200%;
  background-color: #fff;
}

.modal-body {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  display: none;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-box {
  width: 30%;
  height: 50%;
  border-radius: 50%;
  position: fixed;
  z-index: 3;
  top: 50%;
  left: 50%;
  display: none;
  transform: translate(-50%,-60%);
}

/* portfolio styling ends  */
/* about us section start  */

.about-us {
  margin-top: 9px;
  padding: 77px 0 104px;
  background-color: #16A086;
}

.about-us .wrapper {
  width: 76.7%;
}

.about-people {
  margin-top: 61px;
  display: flex;
  justify-content: space-between;
}

.about-us-content {
  padding-bottom: 24px;
  position: relative;
  flex-basis: 2%;
  background-color: #fff;
  text-align: center;
}

.about-people figure {
  width: 330px;
  height: 340px;
  margin: auto;
}

.about-us h3 {
  margin-top: 28px;
  font-size: 26px;
}

.about-us span {
  margin-top: 4px;
  display: block;
  font-size: 20px;
}

.about-description {
  padding: 0 12px;
  margin-top: 29px;
  font-size: 20px;
  text-align: justify;
  word-break: break-all;
}

.hidden-content {
  width: 70%;
  padding: 15px 20px;
  position: absolute;
  top: 25.5%;
  left: 50%;
  transform: translate(-50%);
  display: flex;
  opacity: 0;
  justify-content: space-between;
  background-color: #16A086;
}

.hidden-content:hover {
  opacity: 1;
}

.about-us-content figure:hover ~ .hidden-content {
  opacity: 1;
}

.hidden-content li a {
  text-indent: -9999px;
}

.hidden-content li a::before {
  content: "\f09a";
  float: right;
  color: #DCDCDC;
  font-family: "fontAwesome";
  font-size: 39px;
  text-indent: 0;
  transition: all ease-in-out 0.5s;
  -webkit-transition: all ease-in-out 0.5s;
  -ms-transition: all ease-in-out 0.5s;
  -o-transition: all ease-in-out 0.5s;
  -moz-transition: all ease-in-out 0.5s;
}

.hidden-content li:nth-child(2) a:before {
  content: "\f099";
}

.hidden-content li:nth-child(3) a:before {
  content: "\f0d5";
}

.hidden-content li:nth-child(4) a:before {
  content: "\f17d";
}

.hidden-content li a:hover:before {
  color: #ffa500;
}
/* about us section end  */
/* contact us section start */

.contact-us {
  padding: 70px 0;
}

.contact-info {
  margin-top: 75px;
  display: flex;
  justify-content: space-between;
}

.contact-info form {
  /* padding-right: 8.7%; */
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-basis: 47.2%;
  row-gap: 35px;
}

.name,.email {
  flex-basis: 47.7%;
}

.message {
  flex-basis: 100%;
}

.contact-info form input ,textarea {
  box-sizing: border-box;
}


input[type="text"],input[type="email"],textarea {
  width: 100%;
  padding: 23px 0 23px 16px;
  border: 4px solid #CCD0D3;
  font-size: 17px;
}

textarea {
  padding-bottom: 37px;
}

.submit {
  flex-basis: 100%;
  text-align: end;
}

input[type="submit"] {
  padding: 17px 50px;
  background-color: #1BBC9B;
  border: 2px solid #1BBC9B;
  color: #fff;
  font-size: 18px;
  transition: all ease-in-out 0.5s;
  -webkit-transition: all ease-in-out 0.5s;
  -ms-transition: all ease-in-out 0.5s;
  -o-transition: all ease-in-out 0.5s;
  -moz-transition: all ease-in-out 0.5s;
}

input[type="submit"]:hover {
  background-color: transparent;
  color: #1BBC9B;
}

.address-info {
  padding-left: 2%;
  flex-basis: 49%;
}

.address-info ul {
  margin-top: 28px;
  display: flex;
  flex-direction: column;
  row-gap: 33px;
}

.address-info ul li a {
  color: #000;
  font-size: 19px;
  transition: all ease-in-out 0.5s;
  -webkit-transition: all ease-in-out 0.5s;
  -ms-transition: all ease-in-out 0.5s;
  -o-transition: all ease-in-out 0.5s;
  -moz-transition: all ease-in-out 0.5s;
}

.address-info span{
  display: block;
}

.address-info .bak-one {
  display: inline-block;
}

.address-info h3 {
  font-size: 20px;
}

.address a {
  text-indent: -9999px;
}

.address a::before {
  float: right;
  text-indent: 0;
}


.address-info ul li a::before {
  content: "\f041";
  margin-right: 5px;
  display: inline;
  font-family: "fontAwesome";
}

.address-info ul li:nth-child(2) a::before {
  content: "\f098";
}

.address-info ul li:nth-child(3) a::before {
  content: "\f1ac";
}

.address-info ul li:nth-child(4) a::before {
  content: "\f003";
}

.address-info ul li a:hover {
  color: #ffa500;
}

/* contat us section end  */

/*=================================
  main styling ends here
=================================*/

/*=================================
  footer styling starts here
=================================*/ 

footer {
  padding: 31px 0;
  background-color: #2D3E50;
}

footer a {
  color: #fff;
}

footer .wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
}

.copyright {
  font-size: 20px;
  white-space: nowrap;
}

.move-up a {
  padding: 9px 18px;
  border: 2px solid #1BBC9B;
  background-color: #1BBC9B;
  color: #fff;
  text-indent: -9999px;
}

.move-up a:hover {
  background-color: transparent;
  color: #1BBC9B;
}

.move-up a::before {
  content: "\f106";
  float: right;
  font-family: "fontAwesome";
  font-size: 45px;
  text-indent: 0;
  cursor: pointer;
}





 /*=================================
  footer styling ends here
=================================*/ 

/*media query starts*/
/*media query for 995px starts here*/
@media only screen and (max-width: 995px) {

header .wrapper,.about-people,.contact-info,footer .wrapper {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 20px;
} 

.portfolio-icons {
  justify-content: space-evenly;
}

.menus {
  width: 100%;
}

.about-us-content {
  padding-top: 20px;
}

.portfolio-buttons button {
  padding:15px 5px;
  font-size: 11px;
}

.hidden-content {
  width: 35%;
}

.submit {
  text-align: center;
}

.tab-icons {
  top: 19%;
}

}  

@media only screen and (max-width: 768px) {
  .menus {
    padding: 30px;
    display: none;
  }

  .menus ul {
    flex-direction: column;
    row-gap: 20px;
    align-items: center;
    background-color: #16A086;
  }

  .menus ul li a:hover {
    padding: 16px 0;
    background-color: initial;
  }

  .hamburger {
    align-self: flex-start;
    display: block;
  }

  .copyright {
    font-size: 15px;
  }
}

@media only screen and (max-width: 480px) {
  .portfolio-buttons button {
    padding: 15px 4px;
    font-size: 8px;
}
  
}